<!DOCTYPE html>
<html>
<head>
    {%set fulltitle = 'Game'%}
    {% include 'part/head.twig' %}
</head>
<body class="game">
    <div class="inner2">
        <div class="menu">
            <div class="menuh">
                <h2>{{user.username}}</h2>
                <img src="{{asset('img/items/city1.png')}}" alt="" class="cityimage">
                <p class="textp" id="city-name">Loading...</p>
                <div class="resources">
                    <img src="{{asset('img/items/res_food.png')}}" alt="" class="res-img"> <span id="res-food">-</span>
                    <img src="{{asset('img/items/res_wood.png')}}" alt="" class="res-img"> <span id="res-wood">-</span>
                    <br>
                    <img src="{{asset('img/items/res_gold.png')}}" alt="" class="res-img"> <span id="res-gold">-</span>
                    <img src="{{asset('img/items/res_workers.png')}}" alt="" class="res-img"> <span id="res-workers">-</span>
                </div>
                <div class="buildings accordion">
                    <h3 class="switcher">Buildings</h3>
                    <div class="accordion-data">
                        <div id="building-center">
                            <h4>Center (<span class="level">-</span>)</h4>
                            <!-- <button class="upgrade btn1">Upgrade to <span class="level2">-</span></button>
                            <p>Duration: <span class="time">-</span></p>
                            <p>Resources: <br><span class="res">-</span></p> -->
                            <p>This will determine the level of your city.</p>
                        </div>
                        <div id="building-barracks">
                            <h4>Barraks (<span class="level">-</span>)</h4>
                            <button class="upgrade btn1">Upgrade to <span class="level2">-</span></button>
                            <p>Duration: <span class="time">-</span></p>
                            <p>Resources: <br><span class="res">-</span></p>
                            <p>You can train new soliders in barracks.</p>
                        </div>
                        <div id="building-academy">
                            <h4>Academy (<span class="level"></span>)</h4>
                            <button class="upgrade btn1">Upgrade to <span class="level2">-</span></button>
                            <p>Duration: <span class="time"></span></p>
                            <p>Resources: <br><span class="res">-</span></p>
                            <p>Academy in your city will increase the knowledge for a faster resource gathering.</p>
                        </div>
                    </div>
                </div>
                <div class="workersres accordion">
                    <h3 class="switcher">Resources</h3>
                    <div class="accordion-data">
                        <div id="get-wood">
                            <h4>Wood (<img src="/assets/img/items/res_wood.png">)</h4>
                            <p>You can send your workers to gather wood.</p>
                            <p>Workers: <img src="/assets/img/items/res_workers.png" class="wrkic"> <span class="res">-</span></p>
                            <p>Duration: <span class="time">-</span></p>
                            <button class="upgrade btn1" data-id="get-wood">Send workers</button>
                        </div>
                        <div id="get-food">
                            <h4>Food (<img src="/assets/img/items/res_food.png">)</h4>
                            <p>You can send your workers to hunt for food.</p>
                            <p>Workers: <img src="/assets/img/items/res_workers.png" class="wrkic"> <span class="res">-</span></p>
                            <p>Duration: <span class="time">-</span></p>
                            <button class="upgrade btn1" data-id="get-food">Send workers</button>
                        </div>
                        <div id="get-gold">
                            <h4>Gold (<img src="/assets/img/items/res_gold.png">)</h4>
                            <p>You can send your workers to mine for gold.</p>
                            <p>Workers: <img src="/assets/img/items/res_workers.png" class="wrkic"> <span class="res">-</span></p>
                            <p>Duration: <span class="time">-</span></p>
                            <button class="upgrade btn1" data-id="get-gold">Send workers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game" id="game">
            <div class="arrow" id="left-arrow">&lt;</div>
            <div class="arrow" id="right-arrow">&gt;</div>
            <div class="arrow" id="top-arrow">∧</div>
            <div class="arrow" id="down-arrow">∨</div>
            <div id="elements">

            </div>
        </div>
        <div class="menu">
            <div class="menuh" id="right-data">
                <p class="none-show">- Select a city -</p>
                <div id="selected-city-show">

                </div>
            </div>
        </div>
    </div>
    {% include 'part/footer.twig' %}
    {% include 'part/scripts.twig' %}
</body>
</html>
